 /* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
        /* Read max-width as: when the screen is less than 600px wide... */
       
       
 @media (max-width: 600px) {
.navbar {
    background-color: purple !important;
  } 

.navbar-collapse {
  background-color: purple;
  } }

  .px-2 {
    padding-left: ($spacer * .5) !important;
  }

  p{
      padding-left: 25px;
  }
  h1 {
      padding-left: 25px;
        color:#20B2AA;
        font-weight: bold;
  }
  body {
      font-family:"Times New Roman", Times, serif;
      background-color: #DCDCDC

  }
  h2 {
    color:#20B2AA ;
    font-weight: bold;
  }
  .content{
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 25px;
      margin-top:50px;
      margin-bottom: 50px;
      margin-left: 100px;
      margin-right: 100px;
  }
  .box{
    background-color: white;
    width: auto;
    height: auto;
    padding: 5%;
  }

  .pic{
      height: 250px;
      width: 350px;
  }